@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #7f529f;
  --secondary-color: #5ac0be;
  --tertiary-color: #131f54;
  --color-black-b2: #000000b2;
  --color-indigo: #1c192d;
}

@font-face {
  font-family: "Azonix";
  src: url("../../public/fonts/Azonix.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Medium";
  /* src: url("../../public/fonts/Gilroy-Medium.woff2") format("woff2"); */
  src: url("../../public/fonts/DroidSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../public/fonts/DroidSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Black";
  src: url("../../public/fonts/DroidSans-Bold.woff2") format("woff2");
  /* src: url("../../public/fonts/Gilroy-Black.woff2") format("woff2"); */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Arabic";
  src:url("../../public/fonts/NotoSansArabic.ttf");
  fontWeight: "normal";
}

@font-face {
  font-family: "Noto Sans Arabic";
  src:url("../../public/fonts/NotoSansArabic-Bold.ttf");
  fontWeight: "normal";
}

@theme inline {
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 108rem;
  /* --breakpoint-4xl: 1920px; */

  --color-primary: #7f529f;
  --color-secondary: #5ac0be;
  --color-tertiary: #131f54;
  --color-black-b2: #000000b2;
  --color-indigo: #1c192d;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-azonix: "Azonix", sans-serif;
  --font-droid-sans: "Gilroy-Medium", sans-serif;
  --font-droid-bold: "Gilroy-Bold", sans-serif;
  --font-gilroy-med: "Gilroy-Medium", sans-serif;
  --font-gilroy-bold: "Gilroy-Bold", sans-serif;
  --font-gilroy-black: "Gilroy-Black", sans-serif;
  --font-orbitron: var(--font-orbitron);
  --font-noto-kufi-arabic: var(--font-noto-kufi-arabic);

  --text-xxs: 0.625rem; /* 10px */

  --animate-float: float-up-down 1s ease-in-out infinite;
  --animate-goto: goto 1s ease-in-out infinite;
  --animate-partial-rotate: partial-rotate 300ms;
}

@layer utilities {
  .container-fluid {
    width: 100%;
    max-width: 98rem;
    /* padding-left: clamp(1rem, 5vw, 2rem);
    padding-right: clamp(1rem, 5vw, 2rem); */
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  @media (max-width: 48rem) {
    input,
    textarea,
    select {
      @apply text-base; /* text-base = 16px */
    }
  }
  @media (width >= 40rem) {
    .container-fluid {
      width: 90.625%;
    }
  }
  @media (width >= 108rem) {
    .container {
      /* max-width: 99.5625rem; */
      max-width: 98rem;
    }
    .container-fluid {
      width: 100%;
    }
  }

  @keyframes partial-rotate {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(30deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes float-up-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes goto {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
  .animate-marquee:hover {
    animation-play-state: paused;
  }

  @-webkit-keyframes customerLogosMarquee {
    0% {
      -webkit-transform: translatex(0);
      transform: translatex(0);
    }
    100% {
      -webkit-transform: translatex(-50%);
      transform: translatex(-50%);
    }
  }
  @-moz-keyframes customerLogosMarquee {
    0% {
      -moz-transform: translatex(0);
      transform: translatex(0);
    }
    100% {
      -moz-transform: translatex(-50%);
      transform: translatex(-50%);
    }
  }
  @-o-keyframes customerLogosMarquee {
    0% {
      -o-transform: translatex(0);
      transform: translatex(0);
    }
    100% {
      -o-transform: translatex(-50%);
      transform: translatex(-50%);
    }
  }
  @keyframes customerLogosMarquee {
    0% {
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
    }
    100% {
      -webkit-transform: translatex(-50%);
      -moz-transform: translatex(-50%);
      -o-transform: translatex(-50%);
      transform: translatex(-50%);
    }
  }

  @-webkit-keyframes customerLogosMarqueeReverse {
    100% {
      -webkit-transform: translatex(0);
      transform: translatex(0);
    }
    0% {
      -webkit-transform: translatex(-50%);
      transform: translatex(-50%);
    }
  }
  @-moz-keyframes customerLogosMarqueeReverse {
    100% {
      -moz-transform: translatex(0);
      transform: translatex(0);
    }
    0% {
      -moz-transform: translatex(-50%);
      transform: translatex(-50%);
    }
  }
  @-o-keyframes customerLogosMarqueeReverse {
    100% {
      -o-transform: translatex(0);
      transform: translatex(0);
    }
    0% {
      -o-transform: translatex(-50%);
      transform: translatex(-50%);
    }
  }
  @keyframes customerLogosMarqueeReverse {
    100% {
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
    }
    0% {
      -webkit-transform: translatex(-50%);
      -moz-transform: translatex(-50%);
      -o-transform: translatex(-50%);
      transform: translatex(-50%);
    }
  }
  @keyframes circle {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
  }
  @keyframes dot {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0);
    }
  }
  @keyframes outline {
    0% {
      transform: scale(0);
      outline: solid 20px hsl(0, 0%, 87%);
      outline-offset: 0;
      opacity: 1;
    }
    100% {
      transform: scale(1);
      outline: solid 0 transparent;
      outline-offset: 20px;
      opacity: 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .reduce-motion {
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      animation: none !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -o-transform: none !important;
      transform: none !important;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    .reduce-motion {
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      animation: none !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -o-transform: none !important;
      transform: none !important;
    }
  }

  .shimmer {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      -45deg,
      transparent 30%,
      #fafafa40 50%,
      transparent 70%
    );
    animation: shimmer 3s infinite;
    pointer-events: none;
    border-radius: 0.5rem;
    background-size: 300% 100%;
    background-repeat: no-repeat;
  }

  .glass-bg {
    background-image: linear-gradient(
      -45deg,
      transparent 30%,
      #ffffff00 40%,
      #ffffff30 45%,
      #ffffff30 55%,
      #ffffff00 60%,
      transparent 70%
    );
  }

  @keyframes shimmer {
    0% {
      /* transform: translateX(-100%); */

      background-position: 100% 0;
    }
    100% {
      background-position: -50% 0;
      /* transform: translateX(100%); */
    }
  }
}
/* Custom container for 1728px breakpoint */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  scroll-padding-top: 5rem;
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: "Gilroy-Medium", Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}

/* Prevent height jumps */
.swiper {
  height: 100%; /* or a fixed px value */
}

/* Prevent wrapper flicker during reflows */
.swiper-wrapper {
  will-change: transform;
  backface-visibility: hidden;
}

.swiper-slide-custom {
  pointer-events: auto;
}

.swiper-wrapper {
  pointer-events: none;
}

.swiper-slide {
  pointer-events: auto;
}

.speaker-swiper-container {
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
}

.speaker-swiper-container .swiper-slide {
  opacity: 0;
  transform: scale(0.85);
  transition: all 0.5s ease !important;
  pointer-events: auto; /* Enable hover/click */
}
/* ..speaker-swiper-container .swiper-ios .swiper-slide,
..speaker-swiper-container .swiper-ios .swiper-slide, */
.speaker-swiper-container .swiper-slide-prev,
.speaker-swiper-container .swiper-slide-next {
  opacity: 1;
  transform: scale(0.9) translateY(-10px) !important;
  z-index: 2;
}

.speaker-swiper-container .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  filter: brightness(1);
  z-index: 10;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

button {
  cursor: pointer;
}
.btn-gradient {
  background-image: linear-gradient(
    to var(--bg-gradient-dir, right),
    var(--color-secondary),
    var(--color-primary),
    #b20d5d,
    #4a0ab4
  );
  background-size: 300% 100%;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  -o-transition-duration: 500ms;
}

.btn-gradient-secondary {
  background-image: linear-gradient(
    to var(--bg-gradient-dir, right),
    #68b1af,
    #00a8ce,
    #68b1af,
    #b20d5d,
    #4a0ab4
  );
  background-size: 300% 100%;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  -o-transition-duration: 500ms;
}

.btn-gradient:hover {
  background-position: 100% 0;
}
.btn-gradient-top {
  background-size: 100% 300%;
  background-position: 0 100%;
}
.btn-gradient-top:hover {
  background-position: 100% 0;
}

.btn-transparent-gradient {
  background-image: linear-gradient(
    to var(--bg-gradient-dir, right),
    transparent,
    transparent,
    var(--color-secondary),
    var(--color-primary)
  );
  background-size: 600% 100%;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  -o-transition-duration: 500ms;
}
.btn-transparent-gradient:hover,
.btn-transparent-gradien-active {
  background-position: 100% 0;
}

.text-stroke {
  -webkit-text-stroke: 2px #ffffff10; /* For WebKit browsers (Chrome, Safari) */
  text-stroke: 2px #ffffff10; /* For modern browsers (non-webkit) */
  /* text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black,
    1px 1px 0px black;  */
}

.absolute-center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grecaptcha-badge {
  opacity: 0;
}

/* global.css or component module */
[data-aos="color-change"].aos-animate {
  color: #000; /* Target color on scroll */
}

.fancybox__container {
  max-width: 100vw;
}

.hide-scrollbar {
  overflow: auto; /* or scroll if needed */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.PhoneInputInput:disabled{
  cursor: not-allowed;
}
@keyframes twinkle {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}
.animate-twinkle {
  animation: twinkle 3s infinite ease-in-out;
}