@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Azonix';
  src: url('../../public/fonts/Azonix.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../../public/fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../../public/fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --breakpoint-3xl: 1728px;
  --breakpoint-4xl: 1920px;

  --container-3xl: 1593px;
  --container-4xl: 1800px;

  --color-primary:#131F54;
  --color-secondary:#5AC0BE;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-open-sans: var(--font-open-sans);
  --font-azonix: 'Azonix', sans-serif;
  --font-gilroy-med: 'Gilroy-Medium', sans-serif;
  --font-gilroy-bold: 'Gilroy-Bold', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: 'Gilroy-Medium', Arial, Helvetica, sans-serif;
}
