@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Azonix";
  src: url("../../public/fonts/Azonix.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../../public/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../public/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Black";
  src: url("../../public/fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 108rem;
  /* --breakpoint-4xl: 1920px; */

  --color-primary: #131f54;
  --color-secondary: #5ac0be;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-open-sans: var(--font-open-sans);
  --font-raleway: var(--font-raleway);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-encode-sans-semi-condensed: var(--font-encode-sans-semi-condensed);
  --font-outfit: var(--font-outfit);
  --font-dm-sans: var(--font-dm-sans);
  --font-orbitron: var(--font-orbitron);
  --font-figtree: var(--font-figtree);

  --font-azonix: "Azonix", sans-serif;
  --font-gilroy-med: "Gilroy-Medium", sans-serif;
  --font-gilroy-bold: "Gilroy-Bold", sans-serif;
  --font-gilroy-black: "Gilroy-Black", sans-serif;

  --animate-float: float-up-down 1s ease-in-out infinite;
}

@layer utilities {
  .container-fluid {
    width: 100%;
    max-width: 99.5625rem;
    padding-left: clamp(1rem, 5vw, 2rem);
    padding-right: clamp(1rem, 5vw, 2rem);
    margin-left: auto;
    margin-right: auto;
  }
  @media (width >= 40rem) {
    .container-fluid {
      width: 80%;
    }
  }
  @media (width >= 108rem) {
    .container {
      max-width: 99.5625rem;
    }
    .container-fluid {
      width: 100%;
    }
  }

  @keyframes float-up-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
  .animate-marquee:hover {
    animation-play-state: paused;
  }
}
/* Custom container for 1728px breakpoint */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: "Gilroy-Medium", Arial, Helvetica, sans-serif;
}

/* Prevent height jumps */
.swiper {
  height: 100%; /* or a fixed px value */
}

/* Prevent wrapper flicker during reflows */
.swiper-wrapper {
  will-change: transform;
  backface-visibility: hidden;
}

.swiper-slide-custom {
  pointer-events: auto;
}

.swiper-wrapper {
  pointer-events: none;
}

.swiper-slide {
  pointer-events: auto;
}

.speaker-swiper-container {
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
}

.speaker-swiper-container .swiper-slide {
  opacity: 0;
  transform: scale(0.85);
  transition: all 0.5s ease !important;
  pointer-events: auto; /* Enable hover/click */
}
/* ..speaker-swiper-container .swiper-ios .swiper-slide,
..speaker-swiper-container .swiper-ios .swiper-slide, */
.speaker-swiper-container .swiper-slide-prev,
.speaker-swiper-container .swiper-slide-next {
  opacity: 1;
  transform: scale(0.9) translateY(-10px)!important;
  z-index: 2;
}

.speaker-swiper-container .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  filter: brightness(1);
  z-index: 10;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
